{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\ProductController::featuredBlock')) }}

    <section class="infos-corporate">
        <p>
            Bienvenue chez Stubborn, la boutique en ligne dédiée aux passionnés de sweat-shirts stylés et confortables.
            Nous proposons une collection soigneusement sélectionnée de sweats pour tous les goûts : du classique intemporel aux designs les plus originaux.
            Que vous cherchiez à affirmer votre style ou simplement à profiter d’un confort inégalé au quotidien, notre boutique est là pour vous habiller avec authenticité.
            Qualité, style et service client sont au cœur de notre engagement.
        </p>
    </section>

{% endblock %}
