{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    <h1>Paiement effectué avec succès ✅</h1>
    <p>Merci pour votre commande !</p>
    <a href="{{ path('homepage') }}">Retour à l'accueil</a>
{% endblock %}